:root {
  --accent-color: #ffe919;
  --main-grey: #a8b7ab;
  --main-blue: #9bbec7;
  --main-bg-color: #c5c3c6;
  --primary-color: #282828;
  --secondary-color: #757575;
}
body {
  margin: 0;
  background-color: #ced4da;
}
#test {
  font-family: "soloist_extra-italicitalic";
}
nav {
  justify-items: center;
  align-content: center;
  display: grid;
}
.logo img {
  max-height: 6em;
}
.hero-1plan {
  height: 40rem;
}
.burger-icon {
  display: none;
}
.mobile-links {
  width: 80%;
  display: flex !important;
  justify-content: space-around;
  text-decoration: none;
}
.mobile-links a {
  font-size: 1.4rem;
  font-weight: 900;
  font-family: "soloist_italicitalic";
  font-stretch: condensed;
  color: white;
  text-decoration: none;
  background: linear-gradient(to right, #ffe919, #ffe919 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
}
.mobile-links a:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-position: 0 100%;
}

/* Image de fonds */
.fondhangarempire {
  background-image: url("/src/img/Hangar.jpg");
  background-attachment: fixed;
}
.fondchasseurtie {
  position: relative;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.527);
  height: 30rem;
}

/* Image chasseur sur image de fonds*/
.photochasseurtie {
  position: absolute;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}
.slides img {
  max-height: 100%;
  max-width: 100%;
}
.black-star1 {
  margin-left: auto;
  margin-left: 30%;
  width: auto;
  height: auto;
}
.welcome {
  position: absolute;
  left: 30%;
  font-size: 70px;
}
.kaaris-mdrrrr {
  font-size: 38px;
  text-align: -webkit-center;
}
.bot-menu-cont {
  /* Menu du bas accueil conteneur */

  font-size: 35px;
}
h1 {
  margin: 0;
}
.specs-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.chasseurtie {
  background-color: #ced4da;
  max-width: 140ch;
  color: black;
  margin: 0%;
  padding: 0%;
  font-family: "Noto Sans", sans-serif;
  font-size: medium;
  text-align: justify;
}
.chasseurtie h1 {
  text-align: center;
}

.chasseurtie,
h1,
p {
  margin: 2rem;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -12px;
  padding: 16px;
  color: #ffe919;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  color: white;
}
.specs {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.specs div {
  max-height: 20rem;
}

.specstext {
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.527);
  background-color: #495057;
  color: white;
  width: 25rem;
  min-height: 100%;
  margin: 0;
  border-radius: 2rem;
  font-family: "Noto Sans", sans-serif;
}

/* .specstext h3 {
  text-align: center;
} */

.imgpilote {
  max-height: 100%;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.527);
  background-color: #495057;
  border-radius: 2rem;
  max-width: 25rem;
}

.Pilotechasseurtie {
  display: block;
  max-width: 100%;
}
.specs.specstext h3 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  display: flex;
  padding: 0rem 5rem 0rem 5rem;
  background-color: black;
  text-align: center;
}
footer div {
  min-width: 33%;
}
footer ul li a {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  list-style: none;
  text-decoration: none;
}
footer ul li a:hover {
  color: var(--accent-color);
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer form {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#form-button {
  border: 2px solid black;
  border-width: 5px;
  background-color: var(--accent-color);
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: blac;
  margin-top: 25px;
  padding: 10px 10px;
  max-width: 100%;
  border-radius: 25px;
}
#form-button:hover {
  border-width: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 0px -10px black, 0px -20px 0px -10px black,
    20px 0px 0px -10px black, -20px 0px 0px -10px black,
    0px 0px 0px 10px #c5c3c6, 5px 5px 15px 5px rgba(255, 255, 255, 0);
  box-shadow: 0px 20px 0px -10px black, 0px -20px 0px -10px black,
    20px 0px 0px -10px black, -20px 0px 0px -10px black,
    0px 0px 0px 10px #c5c3c6, 5px 5px 15px 5px rgba(255, 255, 255, 0);
}
.divider-img {
  margin: -5px 0;
}
.divider-img[data-type="accueil"] {
  background-color: transparent;
  margin: -5px;
}
i.fa-brands,
i.fa-solid,
form label {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}
i.fa-brands:hover,
i.fa-solid:hover,
form label:hover {
  color: var(--accent-color);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*Page Rebel ship*/
/* Image de fonds */
.fondhangarrebel {
  background-image: url("/src/img/Hangar.jpg");
  background-attachment: fixed;
}
.fondhangarrebel nav {
  min-width: 100%;
}
.topnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slides {
  max-width: 30%;
}

/* Image faucon sur image de fonds*/
.fond-container-faucon {
  position: relative;
  width: 100%;
  height: 30rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.527);
}
.fondfaucon {
  position: absolute;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photofaucon {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specs-container {
  margin: 0 auto;
  max-width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Texte Faucon Millenium*/
.fauconmillenium {
  background-color: #ced4da;
  margin: 0%;
  padding: 0%;
  font-family: "Noto Sans", sans-serif;
  font-size: medium;
  text-align: justify;
}
.fauconmillenium h1 {
  text-align: center;
}

.fauconmillenium,
h1,
p {
  margin: 2rem;
}

.specs {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.specs div {
  max-height: 20rem;
}
/* Specificités Faucon Millenium*/
.specs h3 {
  text-align: center;
}
.specs.specstext h3 {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.imgpilote {
  max-height: 100%;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.527);
  background-color: #495057;
  border-radius: 2rem;
  max-width: 25rem;
}
.Pilotefaucon {
  display: block;
  max-width: 100%;
}

.comparison-boxes {
  display: flex;
  justify-content: center;
  gap: 10vh;
  min-height: 300px;
}

.ship-box {
  max-width: 25%;
  border: none;
  background-color: #28282888;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.spec {
  height: 30vh;
  padding: 1rem;
}

#win {
  font-size: x-large;
}
