body {
  margin: 0;
  background-color: grey;
}
nav {
  padding: 8px;
  background-color: transparent;
}
footer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  padding: 16px;
  background-color: black;
  text-align: center;
}
form {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  min-width: 20em;
  padding: 8px;
  margin-top: 16px;
}
form label {
  color: black;
}
form input,
form button {
  width: 80%;
}
form input {
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
}
footer ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.fond-accueil{
  background-image: url("/src/img/fond-accueil.jpg"); 
}
.footer-contact {
  margin: 0 auto;
}
.topnav {
  display: flex;
  justify-content: space-between;
}
.show-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.mobile-links {
  display: none;
}
.show-links a {
  color: black;
  text-decoration: none;
}
.logo img {
  max-height: 2.5em;
  max-width: 2.5em;
}
.fa {
  color: black;
}
i.fa-eclipse {
  min-width: 35px;
  border: 1px solid red;
  color: black;
}

.comparison-boxes {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
/*.fa-facebook,{}
.fa-twitter,{}*/
.fa-envelope {
  margin-top: 16px;
  padding: 16px;
  color: white;
}
.comparison-boxes {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.ship-box {
  width: 10rem;
  height: 12rem;
  padding: 10px;
  background-color: lightgrey;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
}
.spec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 15rem;
  padding: 10px;
  background-color: lightgrey;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
}

.spec-box {
  width: 12rem;
  height: 12rem;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.button {
  display: flex;
  justify-content: center;
}
.battle {
  background-color: #ededed;
  border-radius: 28px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-size: 17px;
  padding: 16px 31px;
  text-shadow: 0px 1px 0px #ffffff;
}

.winner {
  display: flex;
  justify-content: center;
}
div button {
  background-color: #ededed;
  border-radius: 28px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #777777;
  font-size: 17px;
  padding: 16px 31px;
  text-shadow: 0px 1px 0px #ffffff;
}
#form-button {
  background-color: var(--accent-color);
  color: black;
  margin-top: 20px;
  padding: 10px 10px;
  width: 40%;
  border-radius: 25px;
}
.bot-menu-cont {
  display: flex;
}
.bot-menu {
  display: flex;
  flex-direction: column;
  color: yellow;
}
body {
  margin: 0;
}
nav {
  background-color: transparent;
}
footer {
  min-height: 20vh;
  background-color: black;
}
.topnav {
  display: flex;
  justify-content: space-between;
}
.show-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.mobile-links {
  display: none;
}
.logo img {
  max-height: 2.5em;
  max-width: 2.5em;
}
.burger-icon {
  color: white;
}

.fa {
  color: black;
}
i.fa-eclipse {
  min-width: 35px;
  border: 1px solid red;
  color: black;
}
.background-div {
  background-image: url("/src/img/fond-accueil.jpg"); /* fond accueil */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-menu-cont {
  /* Menu du bas accueil conteneur */
  display: flex;
}
.bot-menu {
  /* Menu du bas accueil conteneur */
  display: flex;
  flex-direction: column;
  color: yellow;
  align-items: center;
  background-color: #777777c0;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
.hero-1plan {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
}
.black-star {
  margin-left: -180rem;
}
.fondhangarempire {
  background-image: url("/src/img/Hangar.jpg");
}
.fondchasseurtie {
  position: relative;
  width: 100%;
  height: 30rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photochasseurtie {
  position: absolute;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.chasseurtie {
  background-color: grey;
  margin: 0%;
  padding: 0%;
  font-family: "Noto Sans", sans-serif;
  font-size: medium;
  text-align: justify;
}
.chasseurtie h1 {
  text-align: center;
}

.chasseurtie,
h1,
p {
  margin: 1rem;
}

.specstext {
  background-color: rgb(185, 189, 192);
  margin: 2rem;
  font-family: "Noto Sans", sans-serif;
  border-radius: 2rem;
}

.specs h3 {
  text-align: center;
}

.Pilotechasseurtie {
  display: none;
}
