* {
  scroll-behavior: smooth;
  margin: 0;
}
nav {
  justify-items: center;
  align-content: center;
  display: grid;
}
.burger-icon {
  display: none;
}
.logo img {
  max-height: 6em;
}
.black-star {
  margin-left: -40rem;
}
.mobile-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
.mobile-links a {
  font-size: 1.4rem;
  font-weight: 900;
  font-family: "Noto Sans", sans-serif;
  font-stretch: condensed;
  color: white;
  text-decoration: none;
  background: linear-gradient(to right, #ffe919, #ffe919 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.mobile-links a:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-position: 0 100%;
}
footer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  padding: 16px;
  background-color: black;
  text-align: center;
}
form {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  min-width: 20em;
  padding: 8px;
  margin-top: 16px;
}
form label {
  color: black;
}
form input,
form button {
  width: 80%;
}
form input {
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
}
footer ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-contact {
  margin: 0 auto;
}
#form-button {
  background-color: var(--accent-color);
  color: black;
  margin-top: 20px;
  padding: 10px 10px;
  width: 40%;
  border-radius: 25px;
}
.fa-facebook,
.fa-twitter,
.fa-envelope {
  margin-top: 16px;
  padding: 16px;
  color: white;
}
body {
  margin: 0;
  /* background-color: grey; */
}
.fondhangarempire {
  background-image: url("/src/img/Hangar.jpg");
}
.fondchasseurtie {
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: 40rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Image chasseur sur image de fonds*/
.photochasseurtie {
  position: absolute;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Texte Chasseur Tie*/
h1 {
  margin: 0;
}

.chasseurtie {
  background-color: #ced4da;
  margin: 0;
  padding: 2rem;
  font-family: "Noto Sans", sans-serif;
  font-size: medium;
  text-align: justify;
}
.chasseurtie h1 {
  text-align: center;
}

.chasseurtie,
h1,
p {
  margin: 1rem;
}

/* Specificités chasseur Tie*/
.specs {
  padding: 2rem;
  background-color: #ced4da;
}
.slides img {
  max-width: 100%;
}
.specstext {
  background-color: rgb(185, 189, 192);
  font-family: "Noto Sans", sans-serif;
  border-radius: 2rem;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -12px;
  padding: 16px;
  color: #ffe919;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  color: white;
}
.specs h3 {
  text-align: center;
}
.Pilotechasseurtie {
  display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.Pilotechasseurtie {
  display: none;
}
/* Image faucon sur image de fonds*/
.fondfaucon {
  position: relative;
  width: 100%;
  height: 30rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photofaucon {
  position: absolute;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondhangarrebel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/src/img/Hangar.jpg");
}
.fondhangarrebel nav {
  min-width: 100%;
}

/* Texte Faucon Millenium*/
.fauconmillenium {
  background-color: grey;
  margin: 0%;
  padding: 0%;
  font-family: "Noto Sans", sans-serif;
  font-size: medium;
  text-align: justify;
}
.fauconmillenium h1 {
  text-align: center;
}

.fauconmillenium,
h1,
p {
  margin: 1rem;
}

/* Specificités Faucon Millenium*/
.Pilotefaucon {
  display: none;
}
.topnav {
  display: flex;
  justify-content: space-between;
}
.show-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.logo img {
  max-height: 2.5em;
  max-width: 2.5em;
}
.fa {
  color: black;
}
i.fa-eclipse {
  min-width: 35px;
  border: 1px solid red;
  color: black;
}

.comparison-boxes {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
/*.fa-facebook,{}
  .fa-twitter,{}*/
.fa-envelope {
  margin-top: 16px;
  padding: 16px;
  color: white;
}
